.product-container {
    display: flex;
}

.product-container .text {
    margin: 80px;
}

.product-container img {
    height: 300px;
    margin: 22px;
    border: 1px solid grey;
    border-radius: 5px;

}

.homeuserreview h2 {
    text-align: center;
}

.btn {
    margin: 15px 600px;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
}