.product-container{
    display: flex;
}
.product-container .text{
    margin: 80px;
}
.product-container img{ 
    height: 300px;
    margin: 22px;
    border: 1px solid grey;
    border-radius: 5px;
   
}